[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "condTruncMVN"]
	path = condTruncMVN
	url = https://github.com/cran/condTruncMVN
[submodule "matrixNormal"]
	path = matrixNormal
	url = https://github.com/phargarten2/matrixnormal
[submodule "miWQS"]
	path = miWQS
	url = https://github.com/phargarten2/miwqs
